@keyframes apper-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes apper-enter-from-top { /* TODO: find a way to avoid the -50% */
  from { transform: translate(-50%, -48px); }
  to { transform: translate(-50%, 0); }
}

@keyframes apper-enter-from-left {
  from { transform: translateX(-48px); }
  to { transform: translateX(0); }
}


.apper-anchor {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: none;
}


.apper-application {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #222;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  contain: content;
}

.apper-application canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: 1s apper-fade-in;
}


.apper-title {
  position: absolute;
  width: auto;
  height: min-content;
  left: 50%;
  top: 16px;
  transform: translateX(-50%); /* TODO: this doesn't cooperate with animation */
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
  background: none;
  color: #ccc;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  caret-color: #ccc;
  transition: border-bottom-color 0.125s;
  animation: 0.5s apper-enter-from-top;
}

.apper-title:hover {
  border-bottom-color: #fff1;
}

.apper-title:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #b762f0cc;
}


.apper-message {
  position: absolute;
  width: min(max-content, calc(100% - 128px));
  min-height: 48px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  outline: 2px solid #b762f0cc;
  background: #444c;
  opacity: 0;
  color: #ccc;
  font-size: 16px;
  transition: transform 0.5s, opacity 0.25s;
}

.apper-message.apper-error {
  outline-color: #e84b33cc;
}

.apper-message.apper-shown {
  transform: translate(-50%, -48px);
  opacity: 1;
}


.apper-toolbar {
  position: absolute;
  width: 48px;
  height: 100%;
  left: 0;
  transform: translateX(-48px);
  z-index: 1;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  background: #444c;
  transition: transform 0.5s;
  animation: 0.5s apper-enter-from-left;
}

.apper-toolbar-shown .apper-toolbar {
  transform: translateX(0px);
}

.apper-toolbar-shown .apper-toolbar-toggler {
  transform: rotate(180deg);
}

.apper-toolbutton, .apper-toolbar-toggler {
  width: 32px;
  height: 32px;
  background: #fff0;
  border-radius: 50%;
  border: 2px solid #ccc0;
  box-sizing: border-box;
  flex: 0 0;
  z-index: 3;
  transition: background-color 0.25s, border-color 0.25s;
}

.apper-toolbutton img {
  position: relative;
  left: -2px;
  top: -2px;
  z-index: 2;
}

.apper-toolbar-toggler {
  position: relative;
  left: 8px;
  top: 8px;
  transform: rotate(0deg);
  transition: background-color 0.25s, transform 0.5s;
  animation: 0.5s apper-fade-in;
}

.apper-toolbutton:hover, .apper-toolbar-toggler:hover {
  background: #fff2;
}

.apper-toolbutton:active, .apper-toolbar-toggler:active {
  background: #fff4;
}

.apper-button-selected {
  border-color: #ccc;
}

.apper-toolbar-spacer {
  width: 32px;
  height: max-content;
  background: transparent;
  flex: 1 0;
}

.apper-toolbutton-tip {
  position: relative;
  width: 0;
  height: 28px;
  left: 38px;
  top: -38px;
  z-index: 3;
  background: #444c;
  border-radius: 0 14px 14px 0;
  line-height: 28px;
  text-indent: 6px;
  font-size: 16px;
  color: #ccc;
  overflow: hidden;
  opacity: 0;
  transition: 0.25s width, 0.25s opacity;
}

.apper-toolbutton-tip span {
  position: absolute;
  right: 10px;
  color: #777;
  opacity: 0;
  transition: 0.25s opacity;
}

.apper-toolbutton:hover .apper-toolbutton-tip {
  width: 100px;
  opacity: 1;
  transition-delay: 0.5s;
}

.apper-toolbutton:hover .apper-toolbutton-tip span {
  opacity: 1;
  transition-delay: 0.75s;
}


.apper-menu {
  position: absolute;
  width: 300px;
  height: calc(100% - 96px);
  left: 100%;
  top: 48px;
  border-radius: 10px 0 0 10px;
  background: #444c;
  opacity: 0;
  color: #ccc;
  overflow: hidden auto;
  transition: transform 0.5s, opacity 0.25s;
}

.apper-menu.apper-shown {
  transform: translateX(-300px);
  opacity: 1;
}

.apper-menu span:not(.apper-menu-title) {
  font-size: 14px;
}

.apper-menu > div {
  position: absolute;
  width: 100%;
  height: min-content;
  left: 0;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  font-size: 16px;
}

.apper-menu-separator {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background: #fff2;
}


.apper-paragraph {
  font-size: 14px;
}


.apper-button {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #ccc1;
  color: #ccc;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  transition: background-color 0.25s;
}

.apper-button:hover {
  background: #ccc3;
  cursor: pointer;
}

.apper-button:active {
  background: #ccc5;
}


.apper-checkbox {
  display: block;
  position: relative;
  height: 20px;
  margin: 8px 0;
  padding-left: 26px;
  font-size: 14px;
}

.apper-checkbox > input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.apper-checkbox > div {
  position: absolute;
  top: 2px;
  left: 1px;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  background: #fff2;
  transition: background-color 0.25s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.apper-checkbox > div img {
  opacity: 0;
  transition: opacity 0.125s;
}

.apper-checkbox:hover > div {
  background: #fff3;
}

.apper-checkbox > input:checked ~ div {
  background: #b762f0cc;
}

.apper-checkbox > input:checked ~ div img {
  opacity: 1;
}


.apper-hspread {
  display: flex;
  position: relative;
  width: 100%;
  height: 32px;
  background: transparent;
  font-size: 14px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.apper-hspread label {
  position: relative;
  width: 32px;
  height: 32px;
}

.apper-hspread label > input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.apper-hspread label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: border-box;
  flex: 0 0;
  transition: background-color 0.25s, border-color 0.25s;
}

.apper-hspread label > span:hover {
  background: #fff2;
}

.apper-hspread label > span:active {
  background: #fff4;
}

.apper-hspread label > input:checked ~ span {
  border-color: #ccc;
}

.apper-hspread label > span img {
  position: relative;
  left: -2px;
  top: -2px;
}


.apper-text-editor {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: 2px solid transparent;
  padding: 6px;
  border-radius: 6px;
  background: #222c;
  color: #ccc;
  font-family: 'Cousine', monospace;
  font-size: 13px;
  line-height: 20px;
  resize: none;
  overflow-y: hidden;
  transition: outline-color 0.5s;
}

.apper-text-editor::placeholder {
  color: #999;
}

.apper-text-editor.apper-invalid {
  outline-color: #e84b33cc;
}


.apper-button-list {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.apper-button-list > div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
  margin: 8px 0;
}

.apper-button-list > div > button {
  padding: 8px;
  border: none;
  border-radius: 0;
  background: #ccc1;
  color: #ccc;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  transition: background-color 0.25s;
}

.apper-button-list > div > button:first-child {
  border-radius: 8px 8px 0 0;
}

.apper-button-list > div > button:last-child {
  border-radius: 0 0 8px 8px;
}

.apper-button-list > div > button:hover {
  background: #ccc3;
  cursor: pointer;
}


.apper-number-input {
  display: block;
  position: relative;
  height: 32px;
  margin: 8px 0;
  padding-left: 26px;
  font-size: 14px;
}

.apper-number-input > input {
  position: relative;
  width: 64px;
  box-sizing: border-box;
  margin-left: 8px;
  border: none;
  outline: 2px solid transparent;
  padding: 6px;
  border-radius: 6px;
  background: #222c;
  color: #ccc;
  font-family: 'Cousine', monospace;
  font-size: 13px;
  line-height: 20px;
  transition: outline-color 0.5s;
}

.apper-number-input > img {
  position: absolute;
  left: 0;
  top: 6px;
}


.apper-canvas-image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 8px 0;
  font-size: 14px;
}

.apper-canvas-image > span {
  display: block;
  text-align: center;
}

.apper-canvas-image canvas {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  box-sizing: border-box;
  border: 2px solid #fff2;
  margin: 8px auto;
}
