.vertedge-viewer {
  position: absolute;
  background: #222;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.vertedge-viewer canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: 1s vertedge-fadein;
}

.vertedge-title {
  position: absolute;
  width: calc(100% - 128px);
  height: 0;
  left: 64px;
  top: 16px;
  color: #ccc;
  font-size: 16px;
  text-align: center;
  animation: 0.5s vertedge-title-enter;
}

.vertedge-controls {
  position: absolute;
  left: 0;
  width: 48px;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 56px;
  background: #444c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  z-index: 1;
  transition: transform 0.5s;
}

.vertedge-controls-button, .vertedge-controls-opener {
  width: 32px;
  height: 32px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: border-box;
  flex: 0 0;
  z-index: 3;
  transition: background 0.25s, border-color 0.25s;
}

.vertedge-controls-button img {
  position: relative;
  left: -2px;
  top: -2px;
  z-index: 2;
}

.vertedge-controls-opener, .vertedge-controls-help {
  animation: 0.5s vertedge-fadein;
}

.vertedge-controls-button:not(.vertedge-controls-help) {
  animation: 0.5s vertedge-controls-enter;
}

.vertedge-controls-opener {
  position: relative;
  left: 8px;
  top: 8px;
  transform: rotate(180deg);
  transition: background 0.25s, transform 0.5s;
}

.vertedge-controls-button:hover, .vertedge-controls-opener:hover {
  background: #fff2;
}

.vertedge-controls-button:active, .vertedge-controls-opener:active {
  background: #fff4;
}

.vertedge-controls-spacer {
  width: 32px;
  height: max-content;
  background: transparent;
  flex: 1 0;
}

.vertedge-controls-tooltip {
  position: relative;
  width: 0;
  height: 28px;
  left: 38px;
  top: -38px;
  background: #444c;
  border-radius: 0 14px 14px 0;
  line-height: 28px;
  text-indent: 6px;
  font-size: 16px;
  color: #ccc;
  overflow: hidden;
  z-index: 3;
  opacity: 0;
  transition: 0.25s width, 0.25s opacity;
}

.vertedge-controls-tooltip span {
  position: absolute;
  right: 10px;
  color: #777;
  opacity: 0;
  transition: 0.25s opacity;
}

.vertedge-controls-button:hover .vertedge-controls-tooltip {
  width: 100px;
  opacity: 1;
  transition-delay: 0.5s;
}

.vertedge-controls-button:hover .vertedge-controls-tooltip span {
  opacity: 1;
  transition-delay: 0.75s;
}

.vertedge-menu {
  position: absolute;
  width: 300px;
  height: 60%;
  left: 100%;
  top: 20%;
  background: #444c;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  color: #ccc;
  opacity: 0;
  font-size: 16px;
  z-index: 100;
  transition: transform 0.5s, opacity 0.25s;
}

.vertedge-menu-separator {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background: #fff2;
}

.vertedge-checkbox input, .vertedge-hspread > label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.vertedge-checkbox {
  display: block;
  position: relative;
  height: 20px;
  padding-left: 28px;
  font-size: 14px;
  /*user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;*/
}

.vertedge-checkbox span {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  background: #fff2;
  transition: background 0.25s;
}

.vertedge-checkbox span img {
  opacity: 0;
  transition: opacity 0.125s;
}

.vertedge-checkbox:hover span {
  background: #fff3;
}

.vertedge-checkbox input:checked ~ span {
  background: #b762f0cc;
}

.vertedge-checkbox input:checked ~ span img {
  opacity: 1;
}

.vertedge-hspread {
  display: flex;
  position: relative;
  width: 100%;
  height: 32px;
  background: transparent;
  font-size: 14px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.vertedge-hspread > label {
  position: relative;
  width: 32px;
  height: 32px;
}

.vertedge-hspread > label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: border-box;
  flex: 0 0;
  transition: background 0.25s, border-color 0.25s;
}

.vertedge-hspread > label > span:hover {
  background: #fff2;
}

.vertedge-hspread > label > span:active {
  background: #fff4;
}

.vertedge-hspread > label input:checked ~ span {
  border-color: #ccc;
}

.vertedge-hspread > label > span img {
  position: relative;
  left: -2px;
  top: -2px;
}

@keyframes vertedge-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes vertedge-title-enter {
  from { transform: translateY(-48px); }
  to { transform: translateY(0); }
}

@keyframes vertedge-controls-enter {
  from { transform: translateX(-48px); }
  to { transform: translateX(0); }
}